# =========================================================================
# GENERAL
# =========================================================================

# Dependency directories
node_modules/

# Production build output
dist/
dist-ssr/ # For server-side rendering builds

# =========================================================================
# ENVIRONMENT & SECRETS
# =========================================================================


.env
.env.local
.env.*.local

# =========================================================================
# LOGS
# =========================================================================

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================================================================
# DEVELOPMENT & SYSTEM FILES
# =========================================================================

# macOS specific file
.DS_Store

# IDE and editor specific configuration files
# Keep your personal editor settings out of the shared repository.
.vscode/
.idea/
.vercel
